//AfHEA Colours
$main:#EE596D;
$white:#fff;
$twitter: #00acee;

//Changin bulma default colours
$danger:$main;
$success:$twitter;

//Navbar customizations
$navbar-item-img-max-height:3rem;
$navbar-burger-color:$white;
$navbar-item-color:$white;

@import "~bulma/bulma.sass";